.grid {
    border-spacing: 0;
    border-collapse: collapse;
}

.grid th,
.grid td {
    padding: 1em 0.6em;
    border: 1px solid #ccc;
    text-align: left;
}

.grid th {
    font-size: .85em;
    background: #e1e1e1
}

.grid th:first-child {
    width: 20%;
}
