.App {
    text-align: center;
}

.App .App-header {
    display: flex;
    flex-direction: column;
    font-size: calc(5px + 1vmin);
}

.App .error {
    margin: 10px auto 0;
}

.App .weather-grid {
    width: 80%;
    margin: 20px auto;
}

.App .error {
    color: red;
}
